canvas {
    border:1px solid black;
}
html, body, div, canvas {
    margin: 0;
    padding: 0;
}
#map { position: absolute; top: 50px; left: 0px; width: 100%; height: 100%;}

.map-overlay {
font: 12px/14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 25%;
top: 50px;
left: 38.5%;
padding: 10px;
}

.map-overlay-catasto {
font: 12px/14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 25%;
top: 50px;
left: 0;
padding: 8px;
}
 
.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 4px;
margin-bottom: 10px;
}

.map-overlay-catasto .map-overlay-catasto-inner {
background-color: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
border-radius: 8px;
padding: 2px;
margin-bottom: 6px;
}
 
.map-overlay h2 {
line-height: 24px;
display: block;
margin: 0 0 10px;
}
 
.map-overlay .legend .bar {
height: 10px;
width: 100%;
background: linear-gradient(to right, #fca107, #7f3121);
}
 
.map-overlay input {
background-color: transparent;
display: inline-block;
width: 100%;
position: relative;
margin: 0;
cursor: ew-resize;
}

.marker {
  background-image: url('../img/mirino.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}